
<meta charset="UTF-8">
<div class="col-md-12">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<div class="productArea">
			<h3>Imóveis</h3>
			<img src="img/building.png" />
		</div>
	</div>
	<div class="col-md-2">
		<div class="productArea" ng-click="segundoPasso(1)">
			<h3>Produtos</h3>
			<img src="img/product.png" />
		</div>
	</div>
	<div class="col-md-2">
		<div class="productArea" ng-click="segundoPasso(2)">
			<h3>Serviços</h3>
			<img src="img/service.png" />
		</div>
	</div>
	<div class="col-md-2">
		<div class="productArea">
			<h3>Veículos</h3>
			<img src="img/automobile.png" />
		</div>
	</div>
	<div class="col-md-2">
		<div class="productArea">
			<h3>Outros</h3>
			<img src="img/LogoShopping.png" />
		</div>
	</div>
</div>

