<meta charset="UTF-8">
<form class="checkout" method="post" name="checkout">

	<div id="customer_details" class="col2-set">
		<div class="col-1">
			<div class="woocommerce-billing-fields">
				<h3>Cadastro de outros tipos de produtos</h3>
				<p id="billing_country_field"
					class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
					<label class="" for="titulo">Título do Anúncio <abbr title="required"
						class="required">*</abbr>

					</label> <input type="text" ng-model="outro.titulo" value="" placeholder=""
						class="input-text ">
				</p>
				<p class="form-row form-row-last validate-required">
					<label class="" for="descricao">Descrição <abbr
						title="required" class="required">*</abbr>
					</label> <input type="text" value="" ng-model="outro.descricao"
						placeholder="" class="input-text ">
				</p>
				
				<div class="clear"></div>

				<p class="form-row form-row-first validate-required">
					<label class="" for="foto">Fotos <abbr title="required"
						class="required">*</abbr>
					</label> <input type="foto" value="" ng-model="outro.foto" placeholder=""
					 class="input-text ">
				</p>
				<p class="form-row form-row-last validate-required">
					<label class="" for="preco">Preço <abbr
						title="required" class="required">*</abbr>
					</label> <input type="text" value="" placeholder="" ng-model="outro.preco"
						 class="input-text ">
				</p>
				<p class="form-row form-row-last validate-required">
					<label class="" for="tipo">Tipo <abbr
						title="required" class="required">*</abbr>
					</label> <input type="text" value="" placeholder="" ng-model="outro.tipo"
						class="input-text ">
				</p>		
				<p class="form-row form-row-last validate-required">
					<label class="" for="tipo">Localização Vendedor <abbr
						title="required" class="required">*</abbr>
					</label> <input type="text" value="" placeholder="" ng-model="outro.localizacaoVendedor"
						class="input-text ">
				</p>
				
				<div class="clear"></div>
				<button class="btn btn-success" ng-click="cadastrarOutro()">Cadastrar</button>
			</div>
		</div>
</form>