
<div class="row">
	<div class="col-md-3 col-sm-6" ng-repeat="item in listProduct">
		<div class="single-shop-product">
			<div class="product-upper well">
				<img src={{item.foto}} alt="">
			</div>
			<h2 class="tituloProduto">
				<a href="">{{item.titulo}}</a>
			</h2>
			<div class="product-carousel-price">
				<ins>R$ {{item.preco}}</ins>

			</div>

			<div class="product-option-shop">
				<a class="add_to_cart_button" data-quantity="1" data-product_sku=""
					data-product_id="70" rel="nofollow" href="" ng-click="openDetals(item)">Comprar</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="product-pagination text-center">
			<nav>
				<ul class="pagination">
					<li><a href="#" aria-label="Previous"> <span
							aria-hidden="true">&laquo;</span>
					</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"> <span
							aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>